In [1]:
import pandas as pd

In [2]:
descriptor_df = pd.read_excel('dummy.xlsx', None)
all_ligand_descriptors = []
for key in descriptor_df.keys():
    all_ligand_descriptors.append(descriptor_df[key])
descriptors_concatenated = pd.concat(all_ligand_descriptors,axis=0,ignore_index=True)

In [26]:
#descriptors_concatenated = descriptors_concatenated.drop(columns=['Unnamed: 0'])
descriptors_concatenated.head()
str(descriptors_concatenated.dtypes[3])

'int64'

In [70]:
dummy_df = descriptors_concatenated

In [71]:
dummy_df.head()

,Ligand,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,39_SD-027,16.401355,12.830851,0,0,27.538947,2.351515,4.658626,27.538947,1.311378,...,9.782844,72.950827,281.116427,7.808790,1085,28,108,124,5.916667,4.638889
1,24_SD-012,23.120752,17.496509,0,0,36.792136,2.500037,4.883480,36.792136,1.268694,...,10.341904,79.079406,418.142324,8.198869,2404,45,158,185,9.562500,6.097222
2,102_wo17590_77,20.413286,16.725919,0,0,34.468616,2.492661,4.888530,34.468616,1.325716,...,10.230955,80.593694,352.164774,7.655756,1672,41,140,168,7.500000,5.805556
3,1_BMS986165_PKD_TYK2_prw_nowater_nimbus01,25.569882,20.595148,0,2,41.680715,2.508615,4.935337,41.680715,1.302522,...,10.515777,88.755240,437.192386,7.948952,2867,53,178,216,9.944444,6.888889
4,60_wo14660_81,21.489002,17.014394,0,0,35.859929,2.400952,4.801904,35.859929,1.280712,...,10.136621,63.084823,378.144038,8.220523,2107,43,142,164,9.500000,6.277778

In [61]:
non_applying_descorrupted_descriptors = []
for i in range(1,1827):
    if (str(dummy_df.dtypes[i]) != 'float64') and (str(dummy_df.dtypes[i]) != 'int64') and (str(dummy_df.dtypes[i]) != 'bool'):
        corrupted_descriptors.append(dummy_df.columns[i])

In [72]:
for i in range(1,1827):
    if str(dummy_df.dtypes[i]) == 'bool':
        print(dummy_df.columns[i])

Lipinski
GhoseFilter

In [65]:
for descriptor in non_applying_descriptors:
    dummy_df = dummy_df.drop(columns=[descriptor])

In [66]:
dummy_df.head()

,Ligand,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,39_SD-027,16.401355,12.830851,0,0,27.538947,2.351515,4.658626,27.538947,1.311378,...,9.782844,72.950827,281.116427,7.808790,1085,28,108,124,5.916667,4.638889
1,24_SD-012,23.120752,17.496509,0,0,36.792136,2.500037,4.883480,36.792136,1.268694,...,10.341904,79.079406,418.142324,8.198869,2404,45,158,185,9.562500,6.097222
2,102_wo17590_77,20.413286,16.725919,0,0,34.468616,2.492661,4.888530,34.468616,1.325716,...,10.230955,80.593694,352.164774,7.655756,1672,41,140,168,7.500000,5.805556
3,1_BMS986165_PKD_TYK2_prw_nowater_nimbus01,25.569882,20.595148,0,2,41.680715,2.508615,4.935337,41.680715,1.302522,...,10.515777,88.755240,437.192386,7.948952,2867,53,178,216,9.944444,6.888889
4,60_wo14660_81,21.489002,17.014394,0,0,35.859929,2.400952,4.801904,35.859929,1.280712,...,10.136621,63.084823,378.144038,8.220523,2107,43,142,164,9.500000,6.277778